@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Crimson Text", sans-serif;
  --color-text: #000;
  --color-focus-hover: #8E9A82;
  --background: #faf9f8;
}

body {
  background: var(--background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
}

a {
  text-decoration: none; 
}

a, button {
  &:hover,
  &:focus {
    color: var(--color-focus-hover);
    outline: none;
  }
}

img[src$=".svg"] { 
  border: none;
}
